#yet-another-coursera-subtitle {
  width: 100%;
  background: rgba(50, 50, 50, 0.75);
  color: white;
  font-size: 28px;
  text-align: center;
  letter-spacing: 1px;
  font-family: "YouTube Noto", Roboto, "Arial Unicode Ms", Arial, Helvetica;
  padding: 24px;
  box-sizing: border-box;
  z-index: 1000;
}
